<section class="gh-about">
    {{#if @site.icon}}
        <img class="gh-about-icon" src="{{@site.icon}}" alt="{{@site.title}}" loading="lazy">
    {{/if}}
    <h3 class="gh-about-title is-title">{{@site.title}}</h3>
    {{#if @site.description}}
        <p class="gh-about-description is-body">{{@site.description}}</p>
    {{/if}}
    {{#if @site.members_enabled}}
        {{#unless @member}}
            <button class="gh-button" data-portal="signup">Theo dõi</button>
        {{else}}
            {{#if @site.paid_members_enabled}}
                {{#unless @member.paid}}
                    <button class="gh-button" data-portal="upgrade">Nâng cấp</button>
                {{/unless}}
            {{/if}}
        {{/unless}}
    {{/if}}
</section>

{{!-- Tâm lý thị trường (Market Sentiment) --}}
{{> "sidebars/app-sentiment"}}